---
import '../styles/pages/chat.scss';
import '../styles/components/options.scss';
import '../styles/components/dialog.scss';

import Layout from '../layouts/Layout.astro';
import ChatComponent from '../components/Chat';
---

<Layout title="QueryBuddy">
	<main class="container">
		<section class="messages">
		</section>
		<iframe title="HTML Preview" class="html-preview"></iframe>
	</main>
	<section class="toolbar-container">
		<ChatComponent client:load />
	</section>
	<dialog class="dialog live-photo">
		<iframe title="Take Live Photo" frameborder="0" data-src="/photo/take?mode=live-image"></iframe>
	</dialog>
</Layout>

<script>
	import { initChat } from '../scripts/chat';
	import { initSpeechRecognition } from '../scripts/languages';

	// Initialize all functionality
	document.addEventListener('DOMContentLoaded', () => {
		initChat();
		initSpeechRecognition();
	});
</script>