---
import Layout from '../layouts/Layout.astro'

import '../styles/pages/chat.scss'
import '../styles/components/options.scss'
import '../styles/components/dialog.scss'
---
<Layout title="App">
    <main class="container">
        <section class="messages">
        
        </section>
        <iframe title="HTML Preview" class="html-preview"></iframe>
    </main>
    <section class="toolbar-container">
        <div class="toolbar">
            <div class="upload-button">
                <input title="Upload File" id="upload" type="checkbox" class="upload-check">
                <div class="upload-iframe">
                    <iframe title="Upload File Here" frameborder="0" src="/upload.html?hasParent=true"></iframe>
                </div>
                <label title="Upload File" for="upload" class="upload-icon"></label>
            </div>
            <textarea class="input" type="text" placeholder="Type a message..." rows="1"></textarea>
            <div class="options">
                <input title="Dictate" class="dictate" id="chkSpeak" type="checkbox" icon>
                <label tabindex="0" class="dictate" for="chkSpeak" icon></label>
                <select title="Set Language" id="selLang">
                    <option value="en-US">English (US)</option>
                    <option value="fr-FR">French (FR)</option>
                    <option value="ru-RU">Russian (RU)</option>
                    <option value="pt-BR">Portuguese (BR)</option>
                    <option value="es-ES">Spanish (ES)</option>
                    <option value="de-DE">German (DE)</option>
                    <option value="it-IT">Italian (IT)</option>
                    <option value="pl-PL">Polish (PL)</option>
                    <option value="nl-NL">Dutch (NL)</option>
                </select>
                <selectModels></selectModels>
            </div>
            <button title="Send Message" class="send-btn"></button>
        </div>
    </section>
    <dialog class="dialog live-photo">
        <iframe title="Take Live Photo" frameborder="0" data-src="/photo/take.html?mode=live-image"></iframe>
    </dialog>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
    <script is:inline ="/apps.js"></script>
    <script is:inline src="/chat2.js"></script>
    <script is:inline src="/chat.js"></script>
    <script is:inline src="/languages.js"></script>
</Layout>