---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Create | QueryBuddy">
  <div class="create-page">
    <section class="toolbar-container">
      <div class="toolbar">
        <textarea class="input" placeholder="Type a prompt..." rows="1"></textarea>
        <button class="send-btn" title="Send"></button>
      </div>
    </section>
    <section class="images">
    </section>
  </div>
</Layout>

<script src="../scripts/create.ts"></script>

<style lang="scss">
  @import '../styles/pages/create';
</style> 